* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    background-color: lightgrey;
}

header {
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    background-color: grey;
}

.header-logo-container {
    width: 80%;
    height: 80%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-cont {
    height: 100%;
    width: 33%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    color: white;
    font-size: 20px;
    font-weight: 800;

    text-decoration: none;
}

.header-nav {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-btn {
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}